In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.3.1'

In [3]:
data_path = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'

In [4]:
data = pd.read_csv(data_path)

In [5]:
len(data)

9704

In [35]:
data['fuel_type'].describe()

count         9704
unique           2
top       Gasoline
freq          4898
Name: fuel_type, dtype: object

In [6]:
data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [8]:
data[data['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [14]:
horsepower_median = data['horsepower'].median()
horsepower_mode = data['horsepower'].mode()
horsepower_filled = data['horsepower'].fillna(horsepower_mode[0])
horsepower_filled_median = horsepower_filled.median()
print('before fillna: ', horsepower_median)
print('after fillna: ', horsepower_filled_median)
print(horsepower_filled.isnull().sum())

before fillna:  149.0
after fillna:  152.0
0

In [25]:
X = data[data['origin']=='Asia'][['vehicle_weight', 'model_year']].head(7).to_numpy()

In [28]:
XTX = X.transpose() @ X

In [22]:
X

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [29]:
XTX_inv = np.linalg.inv(XTX)

In [30]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [32]:
w = XTX_inv @ X.transpose() @ y

In [33]:
w

array([0.01386421, 0.5049067 ])